.top-menu {
  //position: absolute;
  //border-bottom: thin solid #7f7f7f;
  width: 100%;
  //background-color: rgba(255, 255, 255, 0.78);
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
}