.white-container {
  padding: 0.7em;
  background: rgba(255, 255, 255, 0.91);
  border-radius: 0.8em;
}

.white-edged-container {
  padding: 0.7em;
  background: rgba(255, 255, 255, 0.91);
  border: gainsboro solid 1pt;
}
