html, body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f0f0f0;
  align-content: center;
}

h1, h2, h3, h4 {
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}